<div class="container">
    <!-- No categories -->
    <div class="no-data" *ngIf="!isLoading && categories.length == 0">
      <p>Looks like you don't have any categories!</p>
      <button class="btn create" routerLink="/create-category">Create category</button>
    </div>

    <div class="loading" *ngIf="isLoading">
      <p>Loading your categories...</p>
    </div>

    <!-- At least one category -->
    <div *ngIf="!isLoading && categories.length !== 0">
      <h3>Category List</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
              <span class="btn delete" (click)="deleteCategory(category.id)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <button class="btn create" routerLink="/create-category">Create category</button>
      </div>
    </div>
  </div>
