/* You can add global styles to this file, and also import other style files */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.no-data, .loading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
  margin: 15px 15px;
}

.create {
  color: #4895ef;
}

.save {
  color: #06d6a0;
  margin: 20px 0;
}


.delete {
  color: #f72585;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
}

input, select {
  border: 1px solid #aeaeb5;
  border-radius: 6px;
  height: 28px;
  padding: 0 5px;
}

select {
  width: 100%;
	appearance: none;
}

select:focus, input:focus {
  outline: none;
  border-color: #0096c7;
  box-shadow: 0 0 10px #0096c7;
}

input.ng-invalid.ng-dirty, select.ng-invalid.ng-touched {
  border-color: #ff477e;
  box-shadow: 0 0 10px #ff477e;
}

.error-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ff477e;
  text-shadow: 0 0 1px #ff5c8a;
  margin: 0 10px;
}

.container {
  margin: 0 auto;
}

input, select {
  margin: 15px 5px;
  width: 100%;
}

td {
  height: 50px;
  vertical-align: middle;

  width: 20%;
  text-align: center;
}

th {
  text-align: center;
}

tbody > tr:hover {
  box-shadow: 0px 0px 5px #4895ef;
  border-radius: 5px;
}
